.calculadora {
  max-width: 300px; /* Define a largura máxima da calculadora como 300 pixels. */
  margin: 50px auto; /* Define as margens superior e inferior como 50 pixels e as laterais como automáticas para centralizar a calculadora na página. */
  border: 1px solid #ccc; /* Define uma borda de 1 pixel sólido com a cor cinza claro ao redor da calculadora. */
  border-radius: 5px; /* Define um raio de borda de 5 pixels para arredondar os cantos da calculadora. */
  padding: 20px; /* Define um preenchimento interno de 20 pixels dentro da calculadora. */
  text-align: center; /* Centraliza o texto dentro da calculadora. */
}

#tela {
  width: calc(
    100% - 10px
  ); /* Define a largura da tela como 100% menos 10 pixels para deixar um espaço para a barra de rolagem vertical. */
  margin-bottom: 20px; /* Define uma margem inferior de 20 pixels para a tela. */
  padding: 10px; /* Define um preenchimento interno de 10 pixels dentro da tela. */
  font-size: 24px; /* Define o tamanho da fonte como 24 pixels para a tela. */
  box-sizing: border-box; /* Define a caixa da tela para incluir o preenchimento e a borda, garantindo que a largura definida seja aplicada corretamente. */
}

.botoes {
  display: grid; /* Define o layout dos botões como uma grade. */
  grid-template-columns: repeat(
    4,
    1fr
  ); /* Cria 4 colunas iguais para os botões. */
  grid-gap: 10px; /* Define um espaçamento de 10 pixels entre os botões na grade. */
}

button {
  padding: 15px; /* Define um preenchimento interno de 15 pixels para os botões. */
  font-size: 20px; /* Define o tamanho da fonte como 20 pixels para os botões. */
  cursor: pointer; /* Define o cursor do mouse como um ponteiro para indicar que os botões são clicáveis. */
  border: none; /* Remove a borda dos botões. */
  background-color: #fff; /* Define a cor de fundo dos botões como branco. */
  border-radius: 5px; /* Define um raio de borda de 5 pixels para arredondar os cantos dos botões. */
  transition: background-color 0.3s ease; /* Adiciona uma transição suave para a mudança de cor de fundo dos botões. */
}

button:hover {
  background-color: #f0f0f0; /* Define a cor de fundo dos botões como cinza claro quando o mouse passa por cima deles. */
}

@media screen and (max-width: 600px) {
  .calculadora {
    max-width: 100%; /* Define a largura máxima da calculadora como 100% quando a largura da tela for igual ou inferior a 600 pixels. */
  }
}
