.modal-wrapper1 {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal1 {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 10px;
  position: relative;
}

.modal1 .close1 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal1 .close1:hover,
.modal1 .close1:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content1 {
  margin-bottom: 20px;
}

.comment-container {
  margin-bottom: 20px;
}

.comment-text {
  width: calc(100% - 40px);
  margin-right: 10px;
  border-radius: 5px;
  padding: 5px;
}

.action-icon-comment-text,
.action-icon-like-icon,
.action-icon-comment-icon {
  cursor: pointer;
}

.action-icon-comment-text:hover,
.action-icon-like-icon:hover,
.action-icon-comment-icon:hover {
  filter: brightness(0.8);
}
