body {
  margin: 0;
  padding: 0;
  padding-top: 80px; /* Adiciona espaço para o cabeçalho */
  padding-bottom: 80px; /* Adiciona espaço para o rodapé */
  padding-left: 30px; /* Margem esquerda do corpo */
  padding-right: 30px; /* Margem direita do corpo */
  box-sizing: border-box; /* Inclui padding na largura e altura total */
}

header,
footer {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 1000; /* Para garantir que o cabeçalho e o rodapé fiquem na frente do conteúdo */
}

header {
  background-color: #161616;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 80px; /* Aumenta o espaçamento horizontal no lado direito */
  top: 0;
  padding-bottom: 20px;
  padding-top: 20px;
}

header .logo h1 {
  margin: 0;
  padding-left: 50px; /* Aumenta o espaçamento horizontal no lado esquerdo */
}

header nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

header nav ul li {
  display: inline; /* Alterado para 'inline' para alinhar os itens na mesma linha */
  margin-left: 20px;
  padding-right: 20px; /* Adiciona espaçamento entre os itens */
}

header nav ul li button {
  font-size: 16px;
  cursor: pointer;
}

header nav ul li button:hover {
  text-decoration: underline;
}

footer {
  background-color: #161616;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 80px; /* Aumenta o espaçamento horizontal no lado direito */
  bottom: 0;
}

footer .logo h1 {
  margin: 0;
  padding-left: 50px; /* Aumenta o espaçamento horizontal no lado esquerdo */
}

#openModalBtn,
#logoutBtn {
  background-color: #fefefe;
  color: #000;
  border: 1px solid #000; /* Adicionando borda preta */
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s;
  border: none;
  outline: none;
  border-radius: 5px; /* Borda arredondada */
}

#openModalBtn:hover,
#logoutBtn:hover {
  background-color: #ddd;
}

#openModalBtn,
#logoutBtn,
.copyright,
.nomeusuario {
  margin-right: 50px;
}
.social-icons img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  fill: #ffffff; /* Altera a cor do ícone para branco */
}

.nomeusuario {
  color: #ffffff;
  margin-right: auto; /* Move este item para a extrema direita */
}
