/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 100px;
}

/* Conteúdo do Modal */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #000;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding-bottom: 30px;
}

/* Fechar Modal */
.close {
  color: #aaa;
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 28px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #f44336;
}

/* Cabeçalho do Modal */
.modal-header {
  padding: 10px 16px;
  background-color: #5cb85c;
  color: white;
  text-align: center;
  border-bottom: 1px solid #000;
  border-radius: 10px 10px 0 0;
}

/* Ícone no cabeçalho */
.modal-header .icon {
  margin-right: 10px;
}

/* Corpo do Modal */
.modal-body {
  padding: 20px 40px;
  text-align: justify;
  border-bottom: 1px solid #000;
}

/* Rodapé do Modal */
.modal-footer {
  padding: 10px 16px;
  background-color: #5cb85c;
  color: white;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

/* Botões */
.cancelbtn,
.loginbtn {
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s;
  border: none;
  outline: none;
  border-radius: 5px;
}

.cancelbtn {
  background-color: #fefefe;
  color: #000;
  border: 1px solid #000;
}

.loginbtn {
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
}

.cancelbtn:hover {
  background-color: #ddd;
}

.loginbtn:hover {
  background-color: #575757;
}

/* Campos de entrada */
#username,
#password {
  font-family: inherit;
  color: #000;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px; /* Adiciona espaço entre os campos */
}

/* Responsividade */
@media screen and (max-width: 768px) {
  .modal-content {
    width: 100%;
  }
}
