/* Estilos para o corpo da página */
body {
  font-family: Arial, sans-serif; /* Define a fonte */
  margin: 0 auto; /* Centraliza o conteúdo na página */
  max-width: 80%; /* Define a largura máxima do conteúdo */
  padding: 20px; /* Padding uniforme */
  background-color: black; /* Cor de fundo preta */
  color: white; /* Cor do texto branco */
  font-size: 20px; /* Tamanho da fonte */
  line-height: 1.6; /* Espaçamento entre as linhas */
}

/* Estilos para o cabeçalho */
header {
  background-color: salmon; /* Cor de fundo salmão */
  color: white; /* Cor do texto branco */
  margin: 0;
  width: 100%;
  display: inline-block; /* Ajuste para inline-block */
  overflow: hidden; /* Oculta qualquer conteúdo que exceda os limites */
  padding: 20px 0; /* Padding uniforme para o topo e fundo */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Efeito de sombra */
  transition: background-color 0.3s; /* Transição suave de cor de fundo */
  border-radius: 30px; /* Borda arredondada */
}

/* Efeito de cor de fundo mais azul claro ao passar o mouse */
header:hover {
  background-color: #8db3e2; /* Cor de fundo ao passar o mouse */
}

/* Estilos para a div "informacoes" dentro do cabeçalho */
header .informacoes {
  float: right;
  font-size: 16px;
  margin-right: 20px; /* Espaçamento para o lado direito */
}

/* Estilos para os parágrafos dentro da div "informacoes" */
header .informacoes p {
  margin: 0;
}

/* Estilos para os links dentro da div "informacoes" */
header .informacoes a {
  color: white; /* Cor dos links */
  text-decoration: none; /* Remove o sublinhado padrão */
}

/* Estilos para os links dentro da div "informacoes" quando o mouse passar por cima */
header .informacoes a:hover {
  color: blue; /* Cor dos links ao passar o mouse */
}

/* Estilos para a div do nome */
#nome {
  text-align: center; /* Centraliza o conteúdo */
}

/* Estilos para o nome */
#nome h1 {
  font-size: 45px; /* Define o tamanho da fonte */
  margin: 0; /* Remove margem padrão */
  padding: 0; /* Remove padding padrão */
  line-height: 1; /* Espaçamento entre as linhas */
}

/* Estilos para o título "OBJETIVO" */
h2 {
  font-size: 25px; /* Tamanho da fonte */
  background-color: salmon; /* Cor de fundo salmão */
  color: white; /* Cor do texto branco */
  padding: 10px; /* Espaçamento interno */
  font-weight: bold; /* Negrito */
  text-align: center; /* Centraliza o texto */
  margin-top: 40px; /* Margem superior */
  border-radius: 15px; /* Borda arredondada */
}

/* Efeito hover para deixar mais escuro */
h2:hover {
  background-color: #2d46b6; /* Cor de fundo ao passar o mouse */
}

/* Efeito hover para deixar a letra vermelha */
h1:hover {
  color: red; /* Cor do texto ao passar o mouse */
}

/* Estilos para os parágrafos dentro da seção "OBJETIVO" */
#objetivo p {
  text-align: justify; /* Justifica o texto */
}

/* Estilos para a lista dentro das seções "CONHECIMENTOS" e "ATIVIDADES ACADÊMICAS" */
ul {
  text-align: center; /* Centraliza o conteúdo da lista */
  padding: 0; /* Remove o padding padrão */
}

/* Estilos para os itens da lista dentro das seções "CONHECIMENTOS" e "ATIVIDADES ACADÊMICAS" */
li {
  list-style-type: none; /* Remove os marcadores padrão */
  margin-bottom: 10px; /* Espaçamento entre os itens */
  text-align: center; /* Alinha o texto ao centro */
}

/* Estilos para os itens da lista dentro da seção "EXPERIÊNCIA PROFISSIONAL" */
#experiencia li {
  margin-bottom: 20px; /* Espaçamento entre os itens */
}

/* Estilos para os títulos dos itens da lista */
#experiencia li strong {
  display: block; /* Faz com que os títulos ocupem a largura total */
  text-align: center; /* Centraliza o texto */
}

/* Estilos para as datas dos itens da lista */
#experiencia li {
  display: block; /* Faz com que as datas ocupem a largura total */
  text-align: justify; /* Justifica o texto */
  margin-bottom: 10px; /* Espaçamento abaixo das datas */
}

/* Estilos para a lista de formação */
#formacao ul {
  text-align: center; /* Centraliza o conteúdo da lista */
}

/* Estilos para os itens da lista de formação */
#formacao li {
  list-style-type: none; /* Remove os marcadores padrão */
  margin-bottom: 10px; /* Espaçamento entre os itens */
  text-align: center; /* Alinha o texto ao centro */
}

/* Estilos para os títulos dos itens da lista */
#formacao li strong {
  display: block; /* Faz com que os títulos ocupem a largura total */
  text-align: center; /* Centraliza o texto */
}

/* Estilos para o botão */
button {
  background-color: salmon; /* Cor de fundo salmão */
  color: white; /* Cor do texto branco */
  border: none; /* Remove a borda */
  padding: 10px 20px; /* Espaçamento interno */
  font-size: 20px; /* Tamanho da fonte */
  cursor: pointer; /* Mostra o cursor como ponteiro ao passar o mouse */
  border-radius: 10px; /* Borda arredondada */
  transition: background-color 0.3s; /* Transição suave de cor de fundo */
  display: block; /* Torna o botão um bloco */
}

/* Efeito de cor de fundo mais azul claro ao passar o mouse */
button:hover {
  background-color: #8db3e2; /* Cor de fundo ao passar o mouse */
}

.buttonmodal {
  display: block;
  margin: 0 auto; /* Isso alinhará o botão horizontalmente */
  background-color: salmon; /* Cor de fundo do botão */
  color: white; /* Cor do texto */
  border: none; /* Remove a borda */
  padding: 10px 20px; /* Espaçamento interno */
  font-size: 20px; /* Tamanho da fonte */
  cursor: pointer; /* Cursor do mouse */
  border-radius: 10px; /* Borda arredondada */
  transition: background-color 0.3s; /* Transição suave de cor de fundo */
  margin-top: 20px; /* Espaçamento superior */
  margin-bottom: 20px; /* Espaçamento superior */
}

/* Estilos para o rodapé */
footer {
  background-color: salmon; /* Cor de fundo salmão */
  color: white; /* Cor do texto branco */
  text-align: center; /* Centraliza o texto */
  padding: 20px 0; /* Espaçamento interno superior e inferior */
  border-radius: 15px; /* Borda arredondada */
}

/* Estilos para o parágrafo dentro do rodapé */
footer p a {
  margin: 0; /* Remove margem padrão */
  text-decoration: none; /* Remove o sublinhado padrão */
  color: white; /* Cor do texto branco */
}

/* Efeito de cor de fundo mais azul claro ao passar o mouse */
footer:hover {
  background-color: #8db3e2; /* Cor de fundo ao passar o mouse */
}
